block slide
    div(class='tile-container bg-grayLighter')
        .flex-grid
            .row
                include component/4x4l
                include component/4x4l

            .row
                include component/4x4c

            .row
                include component/4x4r
                include component/4x4r

