block header
    navbar.fixed-top
            ul.m-menu(style="width:100%;")
                li
                    a(href='#') Home
                li
                    a.dropdown-toggle.bg-hover-lightOrange(href='#') Beer
                    .m-menu-container.bg-lightOrange(data-role='dropdown', data-no-close='true')
                        .grid.no-margin
                            .row.cells5
                                .cell.padding10
                                    img(src='images/beer-intro.jpg')
                                .cell.colspan2
                                    h2.fg-white.text-bold.text-shadow Beer Section
                                .cell.colspan2
                                    ul.unstyled-list
                                        li
                                            h3.text-shadow Beer typology
                                        li
                                            a.fg-white(href='#') Artigianale
                                        li
                                            a.fg-white(href='#') Stount
                                        li
                                            a.fg-white(href='#') Bionda
                                        li
                                            a.fg-white(href='#') Rossa
                                        li
                                            a.fg-white(href='#') Weiss
                li
                    a.dropdown-toggle(href='#') Wine
                    .m-menu-container(data-role='dropdown', data-no-close='true')
                        .grid.no-margin
                            .row.cells5
                                .cell.padding10
                                    img(src='images/me.jpg')
                                .cell.colspan2
                                    h2.fg-white.text-bold.text-shadow Metro UI CSS 3.0
                                    p.padding20.no-padding-top.no-padding-left.no-padding-bottom.fg-white
                                        | Metro UI CSS a set of styles to create a site with an interface similar to Windows 8.
                                    p.fg-white.text-bold
                                        | Sergey Pimenov
                                .cell.colspan2
                                    ul.unstyled-list
                                        li
                                            h3.text-shadow Begin with Metro UI CSS
                                        li
                                            a.fg-white(href='#') Requirements
                                        li
                                            a.fg-white(href='#') Doctype
                                        li
                                            a.fg-white(href='#') JavaScript
                                        li
                                            a.fg-white(href='#') Browsers support
                                        li
                                            a.fg-white(href='#') License
                            li
                                a.dropdown-toggle(href='#') Liquor
                                .m-menu-container(data-role='dropdown')
                                    ul.inline-list
                                        li
                                            a(href='#') Surface
                                        li
                                            a(href='#') Xbox
                                        li
                                            a(href='#') PC & Tables
                                        li
                                            a(href='#') Phones
                                        li
                                            a(href='#') Accessories
                li
                    a(href='#') Store



