block square
    .cell.size4
        div(class='tile-container')
            .flex-row
                .row
                    .cell.size6
                        .tile-square(data-role="tile")
                            .tile-content.slide-left
                                .slide
                                    img(src='images/beer-intro.jpg')
                                .slide-over.op-green.text-medium
                                    | This is a BEER

                    .flex-row
                        .row
                            .cell.size6
                                .tile-small(data-role="tile")
                                    .tile-content.slide-left
                                        .slide
                                            img(src='images/beer-intro.jpg')
                                        .slide-over.op-green.text-medium
                                            | This is a BEER
                            .cell.size6
                                .tile-small(data-role="tile")
                                    .tile-content.slide-left
                                        .slide
                                            img(src='images/beer-intro.jpg')
                                        .slide-over.op-green.text-medium
                                            | This is a BEER
                        .row
                            .cell.size6
                                .tile-small(data-role="tile")
                                    .tile-content.slide-left
                                        .slide
                                            img(src='images/beer-intro.jpg')
                                        .slide-over.op-green.text-medium
                                            | This is a BEER
                            .cell.size6
                                .tile-small(data-role="tile")
                                    .tile-content.slide-left
                                        .slide
                                            img(src='images/beer-intro.jpg')
                                        .slide-over.op-green.text-medium
                                            | This is a BEER
